/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  background: linear-gradient(135deg, #0b0b0b, #1e1e1e);
  color: #fff;
  min-height: 50vh;
}

/* Header */
header {
  text-align: center;
  padding: 25px;
}

header h1 {
  color: #00ff99;
  font-size: 2rem;
  margin-bottom: 10px;
}

.back-btn {
  display: inline-block;
  color: #00ff99;
  border: 1px solid #00ff99;
  padding: 6px 15px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.back-btn:hover {
  background: #00ff99;
  color: #111;
}

/* Muscle Group Grid */
.muscle-group-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  padding: 30px;
  justify-items: center;
}

.muscle-card {
  background: #111;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 255, 153, 0.2);
  transition: 0.3s;
}

.muscle-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #00ff99;
}

.muscle-card img {
  width: 100%;
  height: 180px;
  object-fit:cover;
  background-color: white;
}


.muscle-card h3 {
  text-align: center;
  padding: 10px;
  background: #00ff99;
  color: #111;
}

/* Exercise Gallery */
.exercise-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  padding: 30px;
}

.exercise-card {
  background: #111;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  border: 1px solid #00ff99;
  transition: 0.3s;
}

.exercise-card:hover {
  transform: scale(1.05);
  background: #00ff99;
  color: #111;
}

.exercise-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
    object-fit:cover;

}

.exercise-card h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #00ff99;
}

.exercise-card p {
  font-size: 0.9rem;
  color: #ccc;
}
.exercise-card:hover h3, 
.exercise-card:hover p {
  color: #111;
}



@media (max-width:500px){
  header h1 {
    font-size: 1.9rem;
  }
}

@media (max-width:480px){
  header h1 {
    font-size: 1.5rem;
  }
}


@media (max-width:390px){
  header h1 {
    font-size: 1.2rem;
  }
}



@media (max-width: 500px) and (min-width: 350px) {
  .muscle-group-container {
    grid-template-columns: repeat(2, 1fr);
  }
}





@media (max-width: 900px) {
  .exercise-gallery {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
  }
}

/* Mobile view */
@media (max-width: 600px) {
  .exercise-gallery {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 15px;
    padding: 15px;
  }
}

@media(max-width:450px){.exercise-card h3{
    font-size: .7rem;

  }}
